
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Sticky navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 12px 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
}

/* Logo button */
.logo-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    transition: background-color 0.2s;
}

.logo-img {
  opacity: 0.9;
  width: 116px;
  height: 25px;
}

.rightBarButtons {
  margin-left: auto;
  display: flex;
  gap: 12px;
}
.sign-in-btn {
  background-color: white;
  border: 1px solid #828282;
  border-radius: 6px;
  padding: 6px 16px;
  color: #464646;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sign-in-btn:hover {
  background-color: #cacaca;
}

.sign-up-btn {
  background-color: white;
  border: 1px solid #828282;
  border-radius: 6px;
  padding: 6px 16px;
  color: #464646;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sign-up-btn:hover {
  background-color: #cacaca;
}